.form {
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:		teal;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: calc(10px + 2vmin);
    color: white;
    border-style:solid;
    border-color:black;
}
.formback {
    background-color: #e9e1cc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    height: 70%;
    width:28%;

    text-align: center;
}


.input1 {
    /*margin-left: -112px;*/
    margin-left: 10px;
    margin: 15px;
    border: solid;
    border-radius: 20px;
    text-align: center;
}
.input2 {
    margin: 15px;
    margin-left: 10px;
    border: solid;
    border-radius: 20px;
    text-align: center;
}


.textarea {
    position: relative;
    margin: 15px;
    border: solid;
    margin-left: 50px;
    border-radius: 20px;
    background-color:whitesmoke;
    text-align: center;
    background-color: whitesmoke
}

.search {
    flex-direction: row
}


.button{
    
    border-radius: 20px;
    background-color: #FF4B2B;
     position:absoulute ; 
     float: right; 
    margin-top: 7px;
  height: 40px;
    width: fit-content;
    
  text-align: center;
	border: 1px solid #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
    font-weight: bold;
   cursor: pointer;
	padding: 12px 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    
}
#btn {
    
    border-radius: 20px;
    background-color: #FF4B2B;
     position:absoulute ; 
     float: right; 
    margin-top: 7px;
  height: 40px;
    width: fit-content;
    
  text-align: center;
	border: 1px solid #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
    font-weight: bold;
   cursor: pointer;
	padding: 12px 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}
.button {
    cursor: pointer;
    margin: 15px;
    
}
.button1 {
    cursor: pointer;
    margin: 15px;
}
.title {

    margin-bottom:50px;
 

    color:black;
}
.members{
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    margin: 15px;
    margin-right: 95px;
    border: groove ;
    text-align: center;
    margin-left:52px;
    position: relative;
    width: 290px;
    height: 100px;
    padding: 5px;
}

.closes{
    font-size: xx-large;
    cursor: pointer;
}
#homepagebtn{
    cursor: pointer;
    height:35px;
    width:120px;
    background-color:rgb(243, 157, 29);
    border-radius: 100px;
    font-size:x-large large;
   color:black;

    position:center;
    margin:20px;
}
.next1 {
    height: 35px;
    width: 120px;
    background-color: rgb(243, 157, 29);
    border-radius: 100px;
    font-size: x-large large;
    color: black;
    position: center;
    margin: 20px;
}