.form {
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:		teal;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: calc(10px + 2vmin);
    color: white;
    border-style:solid;
    border-color:black;
}
.formback {
    background-color: #e9e1cc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:  50px;
    height: 70%;
    text-align: center;
}


.input1 {
    /*margin-left: -112px;*/
    margin: 15px;
    border: groove;
    text-align: center;
}
.input2 {
    margin: 15px;
    margin-left:-32px;
    border: groove ;
    text-align: center;
}
.input3{
    margin: 10px;
    border: groove ;
    text-align:center;
    margin-left:52px;
    position: relative;
    width: 20   0%;

}
.textarea {
    position: relative;
    margin: 15px;
    border: groove;
    margin-left: -32px;
    text-align: center;
}
.textarea1 {
    margin: 15px;
    border: groove;
    text-align: center;
    margin-left: -32px;
}
.search {
    flex-direction: row
}

#btn {
    
    border-radius: 20px;
    background-color: #FF4B2B;
     position:absoulute ; 
     float: right; 
    margin-top: 7px;
  height: 40px;
    width: fit-content;
    
  text-align: center;
	border: 1px solid #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
    font-weight: bold;
   cursor: pointer;
	padding: 12px 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}
.button {
    cursor: pointer;
    margin: 15px;
    
}
.button1 {
    cursor: pointer;
    margin: 15px;
}
.title {
    margin:10px;
    color:black;
}
.members{
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    margin: 15px;
    margin-right: 95px;
    border: groove ;
    text-align: left;
    margin-left:52px;
    position: relative;
    width: 290px;
    height: fit-content;
    padding: 5px;
}

.closes{
    font-size: xx-large;
    cursor: pointer;
}
#homepagebtn{
    cursor: pointer;
    height:35px;
    width:120px;
    background-color:rgb(243, 157, 29);
    border-radius: 100px;
    font-size:x-large large;
   color:black;

    position:center;
    margin:20px;
}
