.form_add_mem {
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: teal;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: calc(10px + 2vmin);
    color: white;
    border-style: solid;
    border-color: black;
}
.formback_add_mem {
    background-color: #e9e1cc;
    border-radius: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 60%;
    text-align: center;
}
.input {
    margin: 10px;
    border: solid;
    text-align: center;
    margin-left: 52px;
    position: relative;
    margin-right:50px;
    width: 100px;
    border-radius: 20px;
    color: black;
}
.next {
    margin: 15px;
    color: black;
    border-radius: 20px;
    border: solid;
    padding: 3px;
    width:80px;
    height: 40px;
    border-color: forestgreen;
    margin-top: 70px;
    background-color: yellowgreen;
}
.search1 {
    flex-direction: row
}
.next2 {
    margin: 15px;
    color: black;
    border-radius: 20px;
    border: solid;
    padding: 3px;
    width: 80px;
    height: 40px;
    border-color: forestgreen;
    background-color: yellowgreen;
}