.Homepage {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    align-items: center;
    top: 0;
    background-image: url(./back_first_.jpg);
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-repeat: no-repeat;
    background-size:cover
}

.zare {
    text-align: center;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    height: 30px;
    font-size:20px;
    width: 80px;
    color: white;
    /* three containers (use 25% for four, and 50% for two, etc) */
}
.input {
    padding: 10px;
    float: right;
    background-color: rgba(220, 240, 239, 0.38);
    border-radius: 10px;

    font-size: 20px;
    height: 30px;
    width: 210px;
    margin-top: 10px;
    margin-right: 10px;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: black;
    flex-direction: row
}

.create {
    position: absolute;
    left: 90%;
    top: 82%;
    height: 120px;
    width: 120px;
}

.mygroups {
    color: red;
}

.leave {
    cursor: pointer;
    padding: 3px;
    float: right;
    border: black solid thin;
    width: fit-content;
    background-color: blanchedalmond;
}

.edit {
    cursor: pointer;
    padding: 3px;
    float: left;
    border: black solid thin;
    width: fit-content;
    background-color: blanchedalmond;
}

.mygroups {
    font-size: 20px;
    float: left;
}

.buttonsforgp {
    font-size: 15px;
    text-align: right;
    float: right;
    width: 90px;
}

.admin {
    float: left;
}

.groupsShow {
    overflow-y: scroll;
    border-radius: 50px;
    box-shadow: 15PX 15PX gray;
    margin-left: 37%;
    margin-top: 12%;
    color: black;
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 650px;
    background-color: whitesmoke;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 70px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 7%; /* Stay at the top */
    left: 0;
    justify-items: left;
    background: rgba(96, 9, 3, 0.6);
     /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
        .sidenav a {
            font-size: 18px;
        }
}
.leave{
    height:50px;
    width:50px;
    
}
.div_leave {
    top:0;
    left:0;
   margin-left:-20px
    
}
.home {
    height: 50px;
    width: 50px;

}
.div_home {
    top: 0;
    left: 0;
    margin-left: -20px;
    margin-top:-20px;
}
.head {
    position: fixed;
    /*top:0;
left:0;*/
    width: 100%;
    background: rgba(96, 9, 3, 0.6);
    height: 56px;
}

.editpage {
    width: 500ox;
    height: 50px;
    background-color: white;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    border-radius: 25px;
    text-align: center;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content2 {
    border-radius: 25px;
    text-align: center;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    height: 13%;
}

.deleteTEXT {
    font-size: xx-large;
    float: left;
    margin-bottom: 5px;
}

.dltbtns {
    float: right;
}

.dltyes {
    border-radius: 10px;
    padding: 2px;
    background-color: green;
    margin-right: 5px;
    float: left;
    cursor: pointer;
}

.dltno {
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    background-color: red;
    margin-left: 5px;
    float: right;
}

.inputedit {
    text-align: center;
    width: 300px;
    border: black solid thin;
    border-radius: 25px;
}

.submitedit2 {
    background-color: coral;
    border: black solid thin;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: 45%;
    font-size: 20px;
}

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content2 {
    border-radius: 25px;
    text-align: center;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    height: 13%;
}

.deleteTEXT {
    font-size: xx-large;
    float: left;
    margin-bottom: 5px;
}

.dltbtns {
    float: right;
    width: fit-content;
}

.dltyes {
    border-radius: 10px;
    padding: 2px;
    background-color: green;
    margin: 5px;
    float: right;
    cursor: pointer;
}

.dltno {
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    background-color: red;
    margin: 5px;
    float: right;
}
